{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "@typescript-eslint/ban-types": "off",
    "import/order": "error"
  },
  "overrides": [
    {
      "files": ["graphql.test.ts"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["demo/src/App.tsx"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
